@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --fs-paragraph: 15px;

    --ff-base: Inter;
    --fw-400: 400;
    --fw-700: 700;
    --fw-800: 800;
}

body{
    font-family: var(--ff-base) !important;
}